<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>

	<connectionStrings>
		<!--local-->
		<!--
		<add name="ReportConnectionString" connectionString="Data Source=safalinfotech.sytes.net;Initial Catalog=Cimpaas_Live;Persist Security Info=True;User ID=dev;Password=Safal@123"
		  providerName="System.Data.SqlClient" />-->

		<!--live-->
		<!--<add name="ReportConnectionString" connectionString="data source=77.246.171.150;Initial Catalog=CimpaasLiveNew;Persist Security Info=True;User ID=Jignisha;Password=f7jfXj66uQ3bqWZ6;multipleactiveresultsets=true;application name=entityframework" providerName="system.data.entityclient"/>-->

		<!--Alpha-->
		<!--<add name="ReportConnectionString" connectionString="data source=185.227.62.47;Initial Catalog=CimPaasAlpha;Persist Security Info=True;User ID=nileshp_alpha;Password=nilesh_123;multipleactiveresultsets=true;application name=entityframework" providerName="system.data.entityclient"/>-->


		<!--<add name="ReportConnectionString" connectionString="data source=185.227.62.47;initial catalog=CimPaasAlpha;persist security info=true;user id=nileshp_alpha;password=nilesh_123; multipleactiveresultsets=true;application name=entityframework" providerName="system.data.entityclient" />-->
		<add name="ReportConnectionString" connectionString="data source=212.84.178.6;initial catalog=CimpaasLive;persist security info=true;user id=Dev_Preprod;password=wTuKgp5zZFnH; multipleactiveresultsets=true;application name=entityframework" providerName="system.data.entityclient" />

		<!--AlwaysOn DB Publish CS-->
		<add name="ReportConnectionString" connectionString="data source=192.168.46.73;Initial Catalog=CimpaasLiveNew;Persist Security Info=True;User ID=report_reader;Password=gnLlPM47p4qY;multipleactiveresultsets=true;application name=entityframework" providerName="system.data.entityclient"/>


	</connectionStrings>

</configuration>